{% extends "single_test/single_test.html" %}

{% block output %}
{{ super() }}
<h4>Naive Bayes</h4>
<blockquote>
    <ul>
        <li>Classification: &Tab;<b>{{ val_nb[1] }}</b></li>
        <li>Classifier Accuracy: &Tab;<b>{{ val_nb[2] }}&#37;</b></li>
    </ul>
</blockquote>
<h4>Decision Tree</h4>
<blockquote>
    <ul>
        <li>Classification: &Tab;<b>{{ val_dt[1] }}</b></li>
        <li>Classifier Accuracy: &Tab;<b>{{ val_dt[2] }}&#37;</b></li>
    </ul>
</blockquote>
<h4>Maximum Entropy</h4>
<blockquote>
    <ul>
        <li>Classification: &Tab;<b>{{ val_me[1] }}</b></li>
        <li>Classifier Accuracy: &Tab;<b>{{ val_me[2] }}&#37;</b></li>
    </ul>
</blockquote>
<h4>Maximum Vote</h4>
<blockquote>
    <ul>
        <li>Classification: &Tab;<b>{{ val_mv[1] }}</b></li>
        <li>Classifier Accuracy: &Tab;<b>{{ val_mv[2] }}&#37;</b></li>
    </ul>
</blockquote>
{% endblock %}